@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 700;
  src: url('YanoneKaffeesatz-Bold.ttf');
}

body {
	background:url(bg.png) repeat-x #FFF;
	color:#000;
	height:100%;
	text-align:center;
	display:block;
	font-family:'Droid Sans', arial, serif;
	font-size:16px;
}

h1,h2,h3,h4 {
	font-family:'Yanone Kaffeesatz', arial, serif;
}

input[type="text"] { margin: 0.5em 0 0.5em 0.5em; width: 70%; border: 1px solid #2F2F2F; }
input[type="submit"] { background-color: #f5f5f5; border: 1px solid #2F2F2F; }

#container {
	/*width:310px;*/
	margin:0 auto;
}

#container h2 {
	font-family:'Yanone Kaffeesatz', arial, serif;
	font-weight:bold;
	font-size:22px;
	/*text-transform:uppercase;*/
	margin: 0;
}

#header {
	/*width:310px;*/
	position:relative;
	margin:0 auto;
	margin-top:5px;
}

#header h2 {
	font-family:'Yanone Kaffeesatz', arial, serif;
	font-size:22px;
	/*margin-top:5px;*/
	font-weight: bold;
	color:#2F2F2F;
	border-bottom:2px dashed #2F2F2F;
	padding-bottom:5px;
	/*padding-top:5px;*/
	/*border-top:2px dashed #2F2F2F;*/
	/*width:260px;*/
	text-align:center;
	margin:0 auto;
	text-transform:none;
}

.box {
	text-align:left;
	margin-top: 0.5em;
	padding:0 10px;
}

.box p {
	font-size:15px;
	line-height:20px;
	text-align: justify;
	word-spacing: 1px;
	word-break: break-all;
}

.box a {
	color: black;
	padding:3px 5px;
	text-decoration:none;
	-webkit-border-radius:5px;
}